body{
    font-family: 'Bellota',sans-serif;
    border: 3px solid #000;
    border-radius: 30px;
    min-height: 100vh;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 10px 10px;
    background-color: #f0f0f0; 
    position: relative;
}

header{
    text-align: center;
}
#titulo{
    font-size: xxx-large;    
}

.icono-github{
    width: 2.5em;
    position: absolute;
    top: 35px;
    right: 35px;
}
main{
   grid-area: contenido;
   display: grid;
   grid-template-columns: repeat(
        auto-fill,
        minmax(200px,1fr)
   );
    gap: 50px;
    max-width: 500px;
    margin: 0 auto;
}
.imagen{
    width: 90%;
    height: auto;
    transition-duration: 1s;
}
.imagen:hover{
    scale: 1.2;
}
.contenedor-imagen{
    display: flex;
    justify-content: center;
}
.cerrar-contenedor{
    display: flex;
    justify-content: right;
}
.cerrar-contenedor:hover{
    cursor: pointer;
}
#hide{
    text-align: right;
}
#list{
    text-align: left;
}

li{
    margin-bottom: 15px;  
}

footer{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size:medium;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer a{
    color: #000;
    text-decoration: none;
}
footer a:hover{
    color: #424242;
}
#modal{
    border-radius: 30px;
}